// Place all the styles related to the Meals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



header {
	background-color: #63ACE5;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 0;
	text-align: center;
}

header h1 {
	margin: 0
}

h2 {
	padding-top: 25px;
}

#wallet {
	text-align: center;
}

.choice {
	border: solid 1px;
	border-radius: 5px;
	float: left;
	padding: 10px;
	margin: 5px;
	width: 200px;
	height: 225px;
	background-color: #E7EFF6;
}

.add-ons {
	height: 190px;
}

section {
	clear: left;
	padding-left: 30px;
}

.submit {
	clear: left;
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 40px;
	border: none;
	border-radius: 8px;
}

.btn {
	background-color: #4B86B4;
}